{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        hato/hato {:mvn/version "0.7.2"}
        floatingpointio/graphql-builder {:mvn/version "0.1.14"}
        cheshire/cheshire {:mvn/version "5.10.0"}
        re-graph/re-graph {:mvn/version "0.1.14"}
        }
 :aliases
 {:run-m {:main-opts ["-m" "mina.repl"]}
  :run-x {:ns-default mina.repl
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:replace-deps {seancorfield/depstar {:mvn/version "2.0.165"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "repl.jar"
                        :main-class "mina.repl"}}}}
